/* Body */
html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* Typeface */
* {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 350;
}

p {
    color:#2f2f2f
}

h1 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0px;
}

.bold {
    font-weight: 600;
}

.content-section-title {
    font-weight: 600;
    padding-top: 10px;
}

.italic {
    font-style: oblique;
}

.grey {
    color: grey;
}

.caption {
    color: grey;
    font-style: oblique;
    font-size: 13px;
}

/* Links */
a {
    text-decoration: none;
    color: #2f2f2f;
}

a:active {
    color:grey;
}

/* Flex */
.flex-container {
    display: flex;
    height: 100vh;
}

.flex-container div {
    flex: 1;
}

.flex-container .navigation,
.flex-container .gallery,
.flex-container .content {
    padding: 40px;
}

.flex-container .gallery,
.flex-container .content {
    flex: 3 1 0%;
    display: flex;
}

.left-gallery img,
.right-gallery img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
}

.main-content img {
    max-width: 100%;
    height: auto;
    display: block;
}

.left-gallery,
.right-gallery {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Independent Scrolling */
.gallery {
    gap: 15px;
    overflow-y: auto;
}

.navigation {
    overflow-y: auto;
}

.content {
    overflow-y: auto;
}

/* Hide Scrollbar */
.gallery,
.navigation,
.content {

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.gallery::-webkit-scrollbar,
.navigation::-webkit-scrollbar,
.content {
    display: none;
}

/* Table */
.project-table {
    margin-top: 8px;
    width: 100%;
    color: #2f2f2f;
    margin-left: -8px;
    margin-right: -8px;
    border-spacing: 8px;
}

.project-table th {
    font-weight: 600;
    text-align: left;
}

.project-table td,
.project-table th {
    vertical-align: middle;
    padding: 0px 0px 8px 0px;
}

.project-table td,
.project-table th {
    border-bottom: 1px solid #2f2f2f;
}

.project-table tr:last-child td{
    border-bottom: none;
}

.project-table th:nth-child(1),
.project-table td:nth-child(1),
.project-table th:nth-child(3),
.project-table td:nth-child(3) {
    width: 60px;
}

.cv-table {
    color: #2f2f2f;
}

.cv-table td {
    vertical-align: top;
}

.cv-table tr {
    text-align: left;
}

.cv-table td:nth-child(1) {
    width: 120px;
}

.header-table {
    color: #2f2f2f;
    width: 100%;
}

.header-table td {
    text-align: center;
    vertical-align: top;
}

.header-table td:nth-child(1) {
    text-align: left;
}

.header-table td:nth-child(3) {
    text-align: right;
}

/* Ordered List */

ol {
    color:#2f2f2f;
}

ol li::marker {
    font-weight: 600;
}

li {
    padding-left: 15px;
}

/* Side-By-Side Images */
.image-column {
    flex: 50%;
}

.image-row {
    display: flex;
    gap: 10px;
}